/ApiTesteConceito/.vs/ApiTesteConceito/DesignTimeBuild
/ApiTesteConceito/.vs/ApiTesteConceito/FileContentIndex
/ApiTesteConceito/.vs/ApiTesteConceito/v17
/ApiTesteConceito/.vs/ProjectEvaluation
/ApiTesteConceito/ApiTesteConceito.BLL/obj
/ApiTesteConceito/ApiTesteConceito.DAL/obj
/ApiTesteConceito/ApiTesteConceito.Dominio/obj
/ApiTesteConceito/ApiTesteConceito/obj
